@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*GENERAL*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body {
    background-color: #ebebeb;
}

h2 {
    font-size: 2rem;
}

header {
    background-color: #EAC926;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    text-align: center;
}
footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}
main{
    margin: 0 auto;
    width: 90%;
}

/*PRECIOS & DEMAS*/
.articulo{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #ebebeb;
}
.articulo-2{
    position: relative;
    background-color: white;
    margin-top: 2px;
}
.articulo-2 > .logo-envio{
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid #39b54a;
    background-color: #FFF;
    color: #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
}

.precios {
    font-size: 1.5rem;
    flex: 0.3;
}

.descuentos {
    font-size: 1.125rem;
    flex: 0.7;
}
.precio-descuento{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.descripciones {
    display: none;
    margin-top: 10px;
    font-size: 1.125rem;
}

/*IMAGENES*/
.logo {
    flex: 0.5;
    width: 50%;
}
.busqueda{
    display: flex;
    align-items: center;
    flex: 0.5;
}
.busqueda input[type="text"] {
    width: 80%; 
}
.logo-busqueda{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;

}

.banner {
    width: 100vw;
}

.imagenes-todas {
    width: 100%;
    margin-bottom: 2px;
}

/*ICONOS*/
.burger-menu i {
    display: flex;
    background-color: #1259c3;
    color: white;
    border: 1px solid black;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}
.burger-menu{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px;
    margin: 5px;
}
header nav{
    display: none;
}
/*TABLET*/
@media(min-width: 361px){
    .descripciones{
        display: block;
    }
    header nav{
        display: block;
        margin: 5px;
        padding: 0%;
    }
    .burger-menu{
        display: none;
    }
    .articulo{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header{
        flex-direction: row;
        position: relative;
        height: 150px;
    }
    header nav{
        position: absolute;
        bottom: 0%;
        width: 100vw;
    }
    header nav ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px;
        padding: 5px;
    }
    header nav ul li{
        margin: 0 10px;
    }
    header nav ul div{
        display: flex;
        flex-direction: row;
    }
    .articulo{
        width: 40%;
        margin: 10px auto;
    }
    main section{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
    }
}
/*DESKTOP*/
@media(min-width: 769px){
    .articulo{
        width: 20%;
        margin: 10px auto;
    }
}